build:
  type: text
  content: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/Cryptocurrency-Finance-Price-Tracker
    # make all
    # docker build
deploy:
  type: text
  content: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/Cryptocurrency-Finance-Price-Tracker
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test: []
Last Updated By: Priyanshi Somani
Last Updated On: 2022-07-13T05:17:03.843Z
