build:
  type: bash
  bash: |-
    #!/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/Cryptocurrency-Finance-Price-Tracker
    # make all
    # docker build
deploy:
  type: bash
  bash: |-
    #/bin/sh
    cd $ROOST_WORK_DIR/git/Priyanshii677/Cryptocurrency-Finance-Price-Tracker
    # kubectl apply -f <file>.yaml
    # helm install <helm-folder> -n <ns>
test:
  - name: "1"
    configType: artillery
    configPath: Priyanshii677/Cryptocurrency-Finance-Price-Tracker/
  - name: "2"
    configType: custom
    customType: commands
    commands: []
    status: ""
    response: ""
