app_dependencies:
  type: text
  content: '#!/bin/sh edit'
app_deploy:
  type: text
  content: '#!/bin/sh'
app_test:
  - name: ''
    configType: artillery
    configPath: Priyanshii677/Cryptocurrency-Finance-Price-Tracker/
app_uninstall:
  type: text
  content: '#!/bin/sh'
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2022-09-23T09:17:26.830Z
